<!DOCTYPE html>
<html>
    <head>

      <% if @service %>
        <meta property="og:title" content="<%= @service.name %>"/>
        <meta property="og:image" content='<%= @service.cover %>'/>
        <meta property="og:description" content="<%= @service.description %>"/>
        <meta property="og:type" content="website"/>
        <meta property="og:site_name" content="Chambita"/>
        <meta property="og:country-name" content="México"/>
        <meta property="og:url" content="https://chambita.mx/service/<%= @service.id %>"/>
        <!-- <meta property="og:url" content="https://chambita.mx" /> -->

        <meta name='twitter:card' value='summary_large_image' />
        <meta name='twitter:description' value='<%= @service.description %>' />
        <meta name='twitter:image' value='<%= @service.cover %>' />
        <meta name='twitter:title' value='<%= @service.name %>' />

      <% else %>
        <meta property="og:title" content="Chambita | Compra y vende servicios fácil, rápido y seguro."/>
        <!-- <meta property="og:image" content='https://chambita.mx/images/images/logo.07d80116.png'/> -->
        <meta property="og:url" content="https://chambita.mx" />
        <meta property="og:image" content='https://s3-us-west-2.amazonaws.com/assets-chambita/images/chambita-background2.png'/>
        <!-- <meta property="og:url" content="https://chambita.mx/service/<%= @service.id %>"/> -->
        <meta property="og:description" content="Chambita es la mejor plataforma para contratar proveedores confiables para tu casa, negocio o evento. Contrata, califica y ayuda a tu comunidad."/>
        <meta property="og:type" content="website"/>
        <meta property="og:site_name" content="Chambita"/>
      <% end %>

    </head>
    <body>

      <% if @service %>
        <p><%= @service.name %></p>
        <img src="<%= @service.cover %>">
      <% end %>
    </body>
</html>
